<div class="block">
    <h2>{{ 'IPtoCompany_CorrespondanceIPtoCompanies'|translate }}</h2>

    <p>
        {{ 'IPtoCompany_IPSelection'|translate }}<br />
        {{ 'IPtoCompany_AssociatedToTheCompanyRetrieved'|translate }}<br />
        {{ api_token }}
    </p>
</div>
